*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.according{
    height: 70px;
    width: 100%;
    background-color: #f2eeee;
    border: none;
    outline: none;
    text-align: left;
    font-size: 30px;
    
}

.active, .according:hover{
    background-color: #c5bbbb;
}

.move{
    height: 40px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 15px;
  }